@model diploma_strava_ex_api.Models.Dashboard.SummaryActivity
@{
    ViewData["Title"] = "Strava Ex - Home";
    Layout = "_Layout";
}
<div id="app"></div>
<script type="module" src="~/dashboard.js"></script>